/* Tema claro / Tema escuro */
:root {
    --bg: #fff;
    --texto: #111;
    --borda: #e5e7eb;
    --caixa: #f8fafc;
    --acao: #2563eb;
}

[data-tema="escuro"] { /* pelo que eu entendi isso aqui vai funcionar como um campo de valores alternativos pra eu fazer a alternancia entre tema claro e tema escuro */
    --bg: #0b1220;
    --texto: #e5e7eb;
    --borda: #1f2937;
    --caixa: #111827;
    --acao: #38bdf8;
}


/* Estilos padrão */
* {
    box-sizing: border-box;
}

html body {
    height: 100%; /* faz com que o corpo do html preencha a tela toda, pra evitar que eu fique com espaços grandes em branco na página! */
}

body {
    margin: 0;
    font-family: Arial;
    min-height: 100vh; /* faz com que o body preencha 100% da tela */
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    color: var(--texto);
}


.topo {
    border-bottom: 1px solid var(--borda); /* novamente fazendo a chamada de uma variável de cor */
}

.topo .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .75rem 1rem;
}

.caixa {
    border: 1px solid var(--borda);
    background-color: var(--caixa);
    border-radius: .5rem;
    padding: 2rem 1rem;
    max-width: 50%;
    margin: 1.5rem auto;
}

.caixa .caixa-header {
    text-align: center;
}

h1 {
    margin-bottom: .5rem;
    font-size: 1.6rem;
}

p {
    margin: 1rem 0;
}

form {
    display: grid;
    gap: .5rem;
}

label {
    margin-left: .2rem;
    font-weight: 600;
}

input {
    padding: .7rem .9rem;
    border: 1px solid var(--borda);
    border-radius: .5rem;
    background-color: var(--bg);
    color: var(--texto);
}

.btn {
    padding: .6rem .9rem;
    border: 1px solid var(--borda);
    background-color: var(--bg);
    color: var(--texto);
    border-radius: .5rem;
    cursor: pointer;
}

.btn.primario {
    margin: 1rem;
    background-color: var(--acao);
    color: #fff;
    max-width: 200px;
}

.rodape {
    border-top: 1px solid var(--borda);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b7280;
    margin-top: auto;
}